body {
    margin: 0 auto;
    max-width: 750px;
    background-color: rgb(255, 176, 255);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    margin-top: 0;
    position: relative;
    top: 15px;
}
.products {
    position: relative;
    
}
.product {
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: rgb(204, 140, 204);
    margin: 0 10px 0 0;
    border: 1px #fff solid;
}
.product-info {
    margin: 10px 30px 0 70px;
}
img {
    width: 350px;
    height: 250px;
    object-fit: contain;
    margin-top: 10px;
    padding: 0 10px 0 0;
}
p {
    color: rgb(57, 8, 102);
}
.price {
    font-size: 1em;
    color: rgb(26, 26, 146);
}
.price:hover{
    font-size: 2em;
}