
.contact-us {
    main {
        display: flex;
        position: relative;
        top: 90px;

        .main-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto 100px;
            padding: 0 15px;
        }
    }
    h1 {
        text-align: center;
        margin: 5px 0 0 0;
        color: var(--highlight-color);
    }
    h2 {
        text-align: center;
        margin-bottom: 5px;
        color: var(--highlight-color);
    }
}

.contact-info {
    font-size: 1.1em;
    margin: 15px 0;
}

div.address-map iframe {
    border: 1px solid var(--highlight-color) !important;
    border-radius: 5px;
    height: 350px;
    width: 100%;
}
.contact-form {
    animation: form-animation;
    animation-duration: 4s;

    label{
        font-size: 1.2em;
    }

    input[type="text"], input[type="email"]  {
        outline: 0;
        border: 2px solid var(--highlight-color);
        font-size: 1.3em;

        &:focus {
            border: 2px solid var(--color-background);
        }

        &::placeholder {
            font-size: 0.9em;
            color: var(--highlight-color);
            opacity: 0.8;
        }
    }
    textarea {
        resize: none;
        font-size: 1.1em;
        color: var(--highlight-color);
        
        &::placeholder{
            font-size: 1.2em;
        }
    }
    input[type="submit"] {
        font-size: 1.3em;
        border: 2px solid var(--highlight-color);

        &:hover {
            background-color: var(--hover-botton);
        }
    }
}


@keyframes form-animation {
    from {
        transform: scale(2);
        filter: opacity(0);
    }
    to {
        transform: scale(1.0);
        filter: opacity(1.0);
    }
}

@media screen and (max-width: 640px) {
    .contact-form {
        input[type="text"], input[type="email"] {
            font-size: 0.9em;
        }
        textarea {
            font-size: 0.9em;
        }
        input[type="submit"] {
            font-size: 1.0em;
        }
        label {
            font-size: 1.0em;
        }
    }
    .contact-us {
        h1 {
            font-size: 1.5em;
            margin-top: 0;
        }
        h2 {
            font-size: 1.2em;
            margin-bottom: 0;
        }
    }
}

@media(max-width:768px) {
    .contact-us .container {
        max-width: calc(100% - 30px);
    }
    div.address-map iframe {
        height: 200px;
    }
}
