main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 2200px;
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
main img {
    width: 35%;
    margin: 5px 0 0 5px;
    filter: opacity(0.8);
}
h1 {
    position: relative;
    top: 90px;
    text-align: center;
    margin-top: 0;
    color: var(--highlight-color);
}
img:hover {
    transform: scale(1.3);
    transition: all 1s linear;
    filter: brightness(1.5) opacity(1.0);
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 900px) {
    main {
        width: 580px;
        max-height: 2700px;
        align-content: center;
    }
}
@media screen and (max-width: 600px) {
    main {
        width: 300px;
        max-height: 1900px;
        align-content: center;
    }
    main img {
        width: 45%;
    }
    h1 {
        margin: 0;
    }
}
