h1 {
    text-align: center;
    text-shadow: 5px 5px 10px green;
}
.div1 {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 50px auto;
    color: blanchedalmond;
    box-shadow: 5px 5px 15px red;
    filter: brightness(1.5);
}
.div2 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 47, 220);
    margin: 50px auto;
    color: rgb(250, 250, 250);
    transform: rotate(35deg) skew(40deg) scale(1.2);
}