@font-face {
    font-family: moPs;
    src: url(../fonts/mops.medium.ttf);
}
@font-face {
    font-family: blackchancery;
    src: url(../fonts/blackchancery.regular.ttf);
}
body {
    margin: 0;
    font-family: moPs, serif;
}